<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <script src="../vue.js"></script>
        <title>本屋さん</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="app"> </div>

            <template id="my-app">
                <template v-if="books.length > 0">
                    <table>
                        <thead>
                            <th>番号</th>
                            <th>書籍名称</th>
                            <th>出版年月日</th>
                            <th>価格</th>
                            <th>数量</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                            <tr v-for="(book, index) in filterBooks">
                                <td>{{index + 1}}</td>
                                <td>{{book.name}}</td>
                                <td>{{book.date}}</td>
                                <td>{{book.price}}</td>
                                <td>
                                    <button :disabled="book.count <= 1" @click="decrement(index)">-</button>
                                    <span class="counter">{{book.count}}</span>
                                    <button @click="increment(index)">+</button>
                                </td>
                                <td>
                                    <button @click="deleteBook(index)">delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div><h2>合計: {{totalPrice}}</h2></div>
                </template>
                <template v-else>
                    <h1>何もない</h1>
                </template>
            </template>


        <script src="./index.js"></script>
    </body>
</html>